@import url("https://fonts.googleapis.com/css?family=Muli:300,400&display=swap");

.post {
  display: flex;
  align-self: flex-start;
  height: auto;
  margin-bottom: 35px;
  font-size: 14px;
  border-radius: 3px;
  font-family: "Oxygen" sans-serif;
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.3);
  box-sizing: border-box;
}

.post__leftSide {
  display: none;
}

.post__rightSide {
  max-width: 298px;
}

.post__headerWrapper {
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
}

.post__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px 0 10px;
}

.post__user {
  display: flex;
}

.post__avatar {
  width: 38px;
  height: 38px;
  margin-right: 12px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.post__avatar_img {
  width: 100%;
}

.post__username {
  margin: 0;
  font-weight: 500;
  line-height: 38px;
}

.post__date {
  margin: 0;
  line-height: 38px;
  font-family: "Muli", sans-serif;
  color: rgb(178, 180, 178);
}

.post__underline {
  display: none;
}

.post__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.post__footer {
  margin: 0 10px 0 10px;
}

.post__footerWrapper {
  display: flex;
  align-items: center;
  margin-top: -3px;
}

.post__likesWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.post__description {
  padding-bottom: 18px;
  font: normal 12px "Muli", sans-serif;
}

@media screen and (min-width: 660px) and (max-width: 768px) {
  .post {
    width: 100%;
    margin: 0 51px 35px 51px;
  }

  .post__rightSide,
  .post__leftSide {
    display: block;
    max-width: 326px;
    margin-bottom: -3px;
  }

  .post__rightSide {
    width: 100%;
  }

  .post__headerWrapper {
    height: 79px;
    margin-bottom: 16px;
  }

  .post__rightSide .post__img {
    display: none;
  }

  .post__footer,
  .post__header {
    margin: 0 24px 0 24px;
  }

  .post__header:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 85%;
    border-bottom: 1px solid rgb(243, 238, 238);
  }
}

@media screen and (max-width: 660px) {
  .post__leftSide {
    display: none;
  }

  .post__rightSide {
    max-width: 298px;
  }

  .post__headerWrapper {
    height: 64px;
    margin-bottom: 0;
  }

  .post__rightSide .post__img {
    display: block;
  }

  .post__footer,
  .post__header {
    margin: 0 10px 0 10px;
  }
}
